.get-in-touch {
    padding: 120px 0 231px;
    background: url(../img/get-in-touch-bg.jpg) center/cover no-repeat;

    &__title {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.15px;
        color: $dark;
        max-width: 350px;
        text-align: center;
        margin: 0 auto 35px;

        @media screen and (max-width: 1300px) {
            font-size: 28px;
            max-width: 300px;
        }

        @media screen and (max-width: 900px) {
            font-size: 24px;
            max-width: 250px;
        }

        @media screen and (max-width:600px) {
            font-size: 20px;
            max-width: 230px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}